<h1>About NewbieNews</h1>
<p>A hacker news\reddit style web app.</p>

<ul>
  <li>Grouping Post into Topics</li>
  <li>Access controls</li>
  <li>Up-voting down voting of posts</li>
  <li>Active Users and Popular posts pages</li>

  <li>Responsive Layout (thanks bootstrap)</li>
</ul>
