<br/>

<div class="jumbotron">
<h1>NewbieNews</h1>
<p>Just like Hackernews - but for n00bs like you!</p>
<p>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> now!
</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Feel Superior</h2>
    <p> Show off and dazzle with your mediocre technical prowess</p>
  </div>
  <div class="col-md-4">
    <h2>Feel Self-Rigteous</h2>
    <p>Sanctimonious flame-wars encouraged</p>
  </div>
  <div class="col-md-4">
    <h2>Feel Connected</h2>
    <p>A genuine ersatz for real-life friends!</p>
  </div>
</div>


