
<h1>New Post</h1>
<div class="row">
  <div class="col-md-4">
    <ul>
      <li>Be sure to use Biz Wank Words</li>
      <li> Try to sound smarter than you are</li>
      <li> Don't use 'Z' in the title</li>
    </ul>
  </div>
  <div class="col-md-8">
<%= render partial: 'form', locals: { topic: @topic, post: @post } %>

  </div>
</div>
